.header {
  display: none;

  @media (min-width: 768px) {
    margin-bottom: 3rem;
    display: block;
  }

  &__content {
    z-index: 10;
  }
}

.header-mobile {
  margin-bottom: 30px;

  & .header__search {
    margin: 0;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.header-mobile__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;

  @media (min-width: 768px) {
    display: none;
  }

  & > button {
    background: transparent;

    & > span {
      font-size: 30px;
    }
  }

  & > .header__logo {
    text-align: center;
    margin-right: 0;
    width: 180px;

    @media (max-width: 375px) {
      width: 150px;
    }
  }

  & > .header__cart {
    margin-right: 0;
  }

  & > .header__controls {
    display: flex;
    align-items: center;
  }
}

.header__top {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f7f7f7;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__navbar {
  overflow: hidden;
  margin-right: 15px;
}

.header__menu {
  list-style-type: none;
  display: flex;
  grid-column-gap: 15px;


  & .menu__link {
    color: $colorText;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: $colorBtn;
    }

    &:active {
      color: $colorBtn !important;
    }
  }
}

.header__work-time {
  overflow: hidden;
  white-space: nowrap;
  color: #999999;
  @media screen and (min-device-width: 768px) and (max-device-width: 996px) {
    display: none;
  }
}

.header__phone-value {
  color: $colorText;
  white-space: nowrap;
}

.header__bottom {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  margin-right: 50px;
  width: 250px;

  & img {
    width: 100%;
  }
}

.header__search {
  margin: 0 24px;
  flex-grow: 1;

  &-form {
    display: flex;
    height: 50px;
  }

  &-input {
    border-radius: 10px 0 0 10px;
    border: 1px solid #808080;
    border-right: none;
    min-width: 150px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    outline: none;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  &-btn {
    border-radius: 0 15px 15px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background: #b63334;
    outline: none;
    padding: 0 15px;

    & > img {
      height: 40px;
    }
  }
}

.header__controls {
  display: flex;
  grid-column-gap: 20px;
}

.header__cart {
  position: relative;
  margin-right: 10px;

  &-badge {
    position: absolute;
    min-width: 1.6rem;
    height: 1.6rem;
    padding: 1px 3px;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    top: -9px;
    right: 0;
    background-color: #ff4100;
  }

  &-text {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
  }
}

//------------ menu -----------------

.menu {

  &__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 80px 0 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;

    &._active {
      font-size: 24px;
      left: 0;
      z-index: 4;
    }
    .menu__link {
      color: $colorText;
      text-align: left;
      font-weight: 500;
      padding: 10px 0;
      display: block;
    }
  }

}

.menu__body {
  & .header__work-time {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  & .header__phone-value {
    padding: 10px 0;
    font-size: 36px;
    font-weight: 500;
  }
}


@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $colorText;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
