.promotions {
  padding-bottom: 3rem;

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 3rem;
    max-width: 100%;
  }

  &__img {
    display: block;
    margin-bottom: 1.5rem;
    & img {
      width: 100%;
    }
  }
}

.promotions__article {
  flex: 1 1 calc(35% - 3rem);
  min-width: 250px;
  max-width: 400px;
  font-size: 1.6rem;
  color: $colorText;
  @media (min-width: 1130px) {
    flex: 1 1 calc(25% - 3rem);
  }

  & h4 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    & a {
      color: $colorText;
      &:hover {
        color: $colorBtn;
      }
    }
  }

  &__date {

  }
}
